/*fonte: https://github.com/k33ptoo/School-Management-System-JavaFX/blob/master/src/home/css/fullpackstyling.css */
.button
{
-fx-background-color :#0097b2
}
.button:hover
{
-fx-background-color : #00BFE1 ;
}
.button:pressed
{
-fx-background-color : #00768B ;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
/*sombra*/
.label-with-shadow:hover {
    -fx-effect: dropshadow(gaussian, rgba(80, 80, 80, 0.5), 0, 0, 3.5, 3.5);
}

.text-box {
    -fx-background-color: transparent;
    -fx-border-color: #00768B;
    -fx-border-width: 0 0 2px 0; /* Largura da borda (topo direito inferior esquerdo) */
}
.text-box:focused {
    -fx-border-color: #00FFFF; /* Cor da borda ao digitar */
}


.button-volta {
-fx-background-color :  #00768B;
}
.button-volta:hover
{
    -fx-background-color : #00BFE1;
}
.gradiente{
    -fx-background: linear-gradient(#00768B, #00FA9A);
}

.my-button {
  -fx-background-color: #00768B;
  -fx-text-fill: #00768B; /* cor do texto padrão */
}

.my-button:hover {
  -fx-text-fill: white; /* cor do texto quando hover */
}
