/*fonte: https://github.com/k33ptoo/School-Management-System-JavaFX/blob/master/src/home/css/fullpackstyling.css */
.button
{
    -fx-background-color :#0097b2;
    -fx-background-radius: 20;

}
.button:hover
{
    -fx-cursor: hand;
    -fx-background-color : #00BFE1 ;
}
.button:pressed
{
-fx-background-color : #00768B;
}
/*
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }*/
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
/*sombra*/
.label-with-shadow:hover {
    -fx-effect: dropshadow(gaussian, rgba(80, 80, 80, 0.5), 0, 0, 3.5, 3.5);
}



.text-box {
    -fx-background-color: transparent;
    -fx-border-color: #00768B;
    -fx-border-width: 0 0 2px 0; /* Largura da borda (topo direito inferior esquerdo) */
}
.text-box:focused {
    -fx-border-color: #00FFFF; /* Cor da borda ao digitar */
}

.texto-login {
    -fx-background-radius: 20;
    /*-fx-text-inner-color: red;*/

}
.texto-login: focused {
    -fx-border-color: #00BFE1;
    -fx-border-width: 3;
    -fx-border-radius: 20;
}


.button-volta {
    -fx-background-color :  transparent;
}

.button-volta:hover
{
    -fx-cursor: hand;
    -fx-background-color : #00BFE1;
}
.gradiente{
    -fx-background: linear-gradient(#00768B, #00FA9A);
    /*-fx-background: linear-gradient(to right, #00a9ee, #0f1f6a);*/
}



.my-button {
  -fx-background-color:   #014A57;

  /*-fx-text-fill: #00768B; /* cor do texto padrão */
}

.my-button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #00BFE1; /* cor do texto quando hover */
}

/**************************************************/

.plano-fundo{
    -fx-background-color: #002E32;
}
.plano-fundo-superior{
    -fx-background-color: #00818D;
}

.menu-lateral{
    -fx-background-color: #004B52;
}
.menu-botao{
    -fx-background-radius: 0;
    -fx-background-color: #004B52;

}

.menu-botao: haver{
    -fx-cursor: hand;
    -fx-background-color: #00818D;

}
.botao-superior{
   -fx-background-radius: 20;
   -fx-background-color: transparent;
   -fx-border-color: #FFFFFF; /* Defina a cor das bordas como branco */
   -fx-border-width: 2; /* Defina a espessura da borda */
   -fx-border-radius: 20; /* Defina o raio do arredondamento da borda */
   -fx-padding: 10 20; /* Ajuste o preenchimento interno conforme necessário */
}

.botao-superior: haver{
    -fx-cursor: hand;
}

.card-cliente {
    -fx-background-color: #00818D;
    -fx-background-radius: 100 0 0 100;
}

.card-cliente:hover {
    -fx-cursor: hand;
    -fx-background-color: #00BFE1;
}
.button-cadastrar-client{

    -fx-background-radius: 20;
    -fx-background-color :#004B52;
}
.button-cadastrar-client:hover
{
    -fx-cursor: hand;
    -fx-background-color : #00BFE1 ;
}
.button-cadastrar-client:pressed
{
    -fx-background-color : #00768B ;
}

.caixa-pesquisa{
    -fx-background-radius: 20;
}

.caixa-pesquisa: focused{
    -fx-border-color: #00BFE1;
    -fx-border-width: 3;
     -fx-border-radius: 20;
}

.custom-scroll-pane {
    -fx-background-color: #004B52;
}
.scroll-pane .viewport {
    -fx-background-color: #004B52;
}

.pane-arredondado {
    -fx-background-color: #00818D;
    -fx-background-radius: 50 0 50 50;
    /*-fx-background-color: transparent;*/
    -fx-border-color: #FFFFFF; /* Defina a cor das bordas como branco */
    -fx-border-width: 2; /* Defina a espessura da borda */
    -fx-border-radius: 50 0 50 50; /* Defina o raio do arredondamento da borda */
    -fx-padding: 10 20;

}
.cadastro {
    -fx-background-color: #00818D;
    /*-fx-border-color: #ffffff;
    -fx-border-width: 2;*/
}
.selecao-itens{
    -fx-background-radius: 20;
}

.selecao-itens: hover{
    -fx-cursor: hand;
}



.label-personalizado {
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
}

.confimacao-aba{
    -fx-background-color: #00818D;
}
.aviso{
    -fx-background-color: #FFE500;
}

.confimacao-botao {
    -fx-background-color: #00818D;
    -fx-background-radius: 200;
}

.borda-branca-quadrada {
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}

/* Estilos para a barra de rolagem */
.custom-scroll-pane .scroll-bar {
    -fx-background-color: transparent; /* Cor de fundo */
    -fx-pref-width: 12; /* Aumente o valor para aumentar a largura */
}

/* Estilos para a trilha da barra de rolagem */
.custom-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #00768B; /* Cor da trilha */
    -fx-background-radius: 10;
}

/* Estilos para o polegar da barra de rolagem */
.custom-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #0097b2; /* Cor do polegar */
    -fx-background-radius: 10;
}

/* Estilos para os botões de navegação */
.custom-scroll-pane .scroll-bar .increment-button,
.custom-scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent; /* Cor de fundo dos botões */
    -fx-padding: 0; /* Espaçamento interno dos botões */
}